<div class="container">
  <div class="register-user">
    <form class="form-horizontal" (ngSubmit)="onSubmit(); formSubmit.reset();" #formSubmit="ngForm">
    <div class="form-group">
      <label class="control-label col-sm-2" for="firstName">First Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" id="firstName" placeholder="Enter First Name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="lastName">Last Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="lastName" [(ngModel)]="lastName" id="lastName" placeholder="Enter Last Name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="userName">User Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="userName" [(ngModel)]="userName" id="userName" placeholder="Enter Username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="email" [(ngModel)]="email" id="email" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="password" [(ngModel)]="password"  id="password" placeholder="Enter Password">
      </div>
    </div>

    
    <div class="form-group"> 
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
  </form>
  </div>  
</div>
